{% extends "feedback/base.html" %}
{% block pagetitle %}Your Feedback{% endblock pagetitle %}

{% block content %}
	{% if not valid_request %}
		<div class="alert alert-danger text-center" role="alert">
			<p>
				Either someone has already submitted the feedback using this link or verification failed.
			</p>
		</div>
	{% else %}
		<div class="row">
			<div class="col text-center">
				<h3>Feedback</h3>
				<p>
					Let me know if there is something you liked or disliked about my proposal.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<form action="" method="post">
					{% csrf_token %}
					<div class="form-group">
						{{ form.feedback }}
					</div>
					<input type="submit" class="btn btn-primary" value="Submit">
				</form>
			</div>
		</div>
	{% endif %}

{% endblock content %}
