{% extends "feedback/base.html" %}
{% block pagetitle %}Thank You{% endblock pagetitle %}
{% block content %}
	<div class="row">
		<div class="col text-center">
			<h3>Thank you, your feedback has been accepted!</h3>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<div class="alert alert-success text-center" role="alert">
				<p>
					I am going to look over the feedback as soon as possible.
					<br>
					<span class="text-center">Sincerely, Matic</span>
				</p>
			</div>
		</div>
	</div>
{% endblock content %}